Repository pierregueroult/next-launch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "**/*.{ts, tsx, mjs}": ["prettier --write", "eslint --fix", "eslint"],
  "**/*.{json, css, md}": ["prettier --write"]
}

feat: add development script for concurrent typescript compilation and node execution
  cli/install/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: enhance cli scripts in workspace
  cli/install/package.json
  package.json
Due: prettier --write

fix: update ts configuration and adjust base and out paths
  cli/install/tsconfig.json
  tsconfig.json
Due: prettier --write

feat: add cli constants and version retrieval, enhance command structure
  cli/install/package.json
  cli/install/src/constants.ts
  cli/install/src/index.ts
  cli/install/src/lib/version.ts
Due: prettier --write, eslint --fix, eslint

feat: add initial starlight documentation site
  .gitignore
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/astro.config.mjs
  www/package.json
  www/public/favicon.svg
  www/src/assets/houston.webp
  www/src/content.config.ts
  www/src/content/docs/guides/example.md
  www/src/content/docs/index.mdx
  www/src/content/docs/reference/example.md
  www/tsconfig.json
Due: prettier --write, eslint --fix, eslint

feat: integrate tailwindcss with starlight to build custom docs
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
  www/src/styles/global.css
Due: prettier --write

fix: update prettier configuration in package.json
  package.json
Due: prettier --write

feat: add issue and pull request templates for better contribution guidelines
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE/bugfix_template.md
  .github/PULL_REQUEST_TEMPLATE/feature_template.md
  .github/workflows/lint.yml
  .github/workflows/sonar.yml
  .vscode/settings.json
  package.json
Due: prettier --write

refactor: remove unused assets and simplify the homepage layout from the base template
  .vscode/settings.json
  cli/install/starter/base/.env.sample
  cli/install/starter/base/public/file.svg
  cli/install/starter/base/public/globe.svg
  cli/install/starter/base/public/icons/android-chrome-192x192.png
  cli/install/starter/base/public/icons/android-chrome-512x512.png
  cli/install/starter/base/public/icons/favicon-16x16.png
  cli/install/starter/base/public/icons/favicon-32x32.png
  cli/install/starter/base/public/next.svg
  cli/install/starter/base/public/vercel.svg
  cli/install/starter/base/public/window.svg
  cli/install/starter/base/src/app/favicon.ico
  cli/install/starter/base/src/app/globals.css
  cli/install/starter/base/src/app/layout.tsx
  cli/install/starter/base/src/app/page.module.css
  cli/install/starter/base/src/app/page.tsx
Due: prettier --write

feat: add tailwind css setup with dependencies to options templates
  cli/install/starter/options/tailwind/_dependencies.yaml
  cli/install/starter/options/tailwind/postcss.config.mjs
  cli/install/starter/options/tailwind/src/app/layout.tsx
  cli/install/starter/options/tailwind/src/lib/classname.ts
  cli/install/starter/options/tailwind/src/styles/globals.css
  cli/install/starter/options/tailwind/tailwind.config.mjs
Due: prettier --write, eslint --fix, eslint

feat: update dependencies for base template and integrate new packages
  cli/install/package.json
  cli/install/starter/base/_dependencies.yaml
  cli/install/starter/base/package.json
  cli/install/starter/options/tailwind/_dependencies.yaml
  pnpm-lock.yaml
Due: prettier --write

fix: remove underscore from dependencies files
  cli/install/starter/base/dependencies.yaml
  cli/install/starter/options/tailwind/dependencies.yaml
Due: none

fix: improve cli version retrieval with error handling and default fallback
  cli/install/src/lib/version.ts
Due: prettier --write, eslint --fix, eslint

feat: add sonarlint project configuration
  .vscode/settings.json
  pnpm-lock.yaml
Due: prettier --write

feat: add option parsing and user prompts for project initialization
  cli/install/package.json
  cli/install/src/constants.ts
  cli/install/src/index.ts
  cli/install/src/schemas/managers.ts
  cli/install/src/schemas/options.ts
  cli/install/src/types/figlet.d.ts
  cli/install/src/utils/parse-options.ts
  cli/install/src/utils/print-motd.ts
  cli/install/src/utils/prompts.ts
  cli/install/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: add prisma setup with commands and dependencies for database integration
  cli/install/starter/options/prisma/commands.yaml
  cli/install/starter/options/prisma/dependencies.yaml
  cli/install/starter/options/prisma/src/db/index.ts
  cli/install/starter/options/prisma/src/db/migrations/.gitkeep
  cli/install/starter/options/prisma/src/db/schema.prisma
Due: prettier --write, eslint --fix, eslint

feat: add prisma client and cli commands for project setup
  cli/install/package.json
  cli/install/src/index.ts
  cli/install/starter/base/commands.yaml
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: add database commands for initialization and schema management
  cli/install/starter/options/prisma/commands.yaml
  tsconfig.json
Due: prettier --write

feat: add email support with nodemailer integration and related dependencies
  cli/install/package.json
  cli/install/src/index.ts
  cli/install/src/schemas/options.ts
  cli/install/starter/options/email/dependencies.yaml
  cli/install/starter/options/email/src/emails/components/.gitkeep
  cli/install/starter/options/email/src/emails/send.ts
  cli/install/starter/options/email/src/emails/templates/.gitkeep
  cli/install/starter/options/email/src/emails/transporter.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: enhance project initialization with name prompt and required options parsing
  cli/install/src/index.ts
  cli/install/src/lib/project.ts
  cli/install/src/schemas/options.ts
  cli/install/src/utils/parse-options.ts
  cli/install/src/utils/prompts.ts
Due: prettier --write, eslint --fix, eslint

feat: implement project directory creation and template file copying
  cli/install/src/lib/project.ts
Due: prettier --write, eslint --fix, eslint

feat: add yaml parsing and command/dependency management functionality
  cli/install/.gitignore
  cli/install/package.json
  cli/install/src/index.ts
  cli/install/src/lib/commands.ts
  cli/install/src/lib/deps.ts
  cli/install/src/lib/fs.ts
  cli/install/src/lib/project.ts
  cli/install/src/types/commands.ts
  cli/install/src/types/dependencies.ts
  cli/install/src/utils/prompts.ts
  cli/install/src/utils/yaml-parser.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

chore: remove redundant pnpm version specification in lint workflow
  .github/workflows/lint.yml
Due: none

fix: move sonarqube server configuration to proper file
  sonar-project.properties
Due: none

feat: move emails template from email dir to emails
  cli/install/starter/options/emails/dependencies.yaml
  cli/install/starter/options/emails/src/emails/components/.gitkeep
  cli/install/starter/options/emails/src/emails/send.ts
  cli/install/starter/options/emails/src/emails/templates/.gitkeep
  cli/install/starter/options/emails/src/emails/transporter.ts
Due: prettier --write, eslint --fix, eslint

feat: restructure project setup by adding ignores.yaml and updating commands handling
  cli/install/src/index.ts
  cli/install/src/lib/commands.ts
  cli/install/src/lib/deps.ts
  cli/install/src/lib/fs.ts
  cli/install/src/lib/package.ts
  cli/install/src/lib/project.ts
  cli/install/src/types/commands.ts
  cli/install/src/types/package-json.ts
  cli/install/src/types/packages.ts
  cli/install/starter/base/ignores.yaml
  cli/install/starter/base/template.gitignore
  cli/install/starter/options/prisma/commands.yaml
Due: prettier --write, eslint --fix, eslint

fix: remove type-case rule from commitlint (already with type-enum)
  commitlint.config.mjs
Due: none

wip: creating a smart file merge for multi-template use
  cli/install/package.json
  cli/install/src/index.ts
  cli/install/src/lib/fs.ts
  cli/install/src/lib/merge.ts
  cli/install/src/lib/project.ts
  cli/install/starter/base/src/app/layout.tsx
  cli/install/tsconfig.json
  commitlint.config.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: add reactscan integration component and integrate it
  cli/install/package.json
  cli/install/src/index.ts
  cli/install/starter/options/scan/dependencies.yaml
  cli/install/starter/options/scan/src/app/layout.tsx
  cli/install/starter/options/scan/src/components/react-scan/react-scan.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: specify node.js version in package.json using volta
  package.json
Due: prettier --write

fix: specify npm version in package.json alongside node version
  package.json
Due: prettier --write

wip: refactor project setup to dynamically handle template options
  cli/install/package.json
  cli/install/src/lib/fs.ts
  cli/install/src/lib/merge.ts
  cli/install/src/lib/package.ts
  cli/install/src/lib/project.ts
  cli/install/src/schemas/patchFiles.ts
  cli/install/starter/base/next.config.mjs
  cli/install/starter/base/next.config.ts
  cli/install/starter/options/tailwind/src/app/layout.tsx
  cli/install/starter/options/tailwind/src/app/layout.tsx.patch.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: add react-scan option and integrate component into project layout
  cli/install/src/index.ts
  cli/install/src/schemas/options.ts
  cli/install/starter/options/react-scan/dependencies.yaml
  cli/install/starter/options/react-scan/src/app/layout.tsx
  cli/install/starter/options/react-scan/src/app/layout.tsx.patch.json
  cli/install/starter/options/scan/src/components/react-scan/react-scan.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement jsx element merging (no children for the moment)
  cli/install/src/lib/merge.ts
  cli/install/src/lib/package.ts
  cli/install/src/schemas/patchFiles.ts
  cli/install/src/types/packages.ts
  cli/install/starter/options/react-scan/src/components/react-scan/react-scan.tsx
Due: prettier --write, eslint --fix, eslint

feat: sort dependencies in generated package.json and exclude specific templates in project setup
  cli/install/src/lib/package.ts
  cli/install/src/lib/project.ts
Due: prettier --write, eslint --fix, eslint

feat: enhance project setup with git initialization and dependency installation
  cli/install/package.json
  cli/install/src/index.ts
  cli/install/src/lib/dependencies.ts
  cli/install/src/lib/git.ts
  cli/install/src/lib/package.ts
  cli/install/src/lib/project.ts
  cli/install/src/utils/print-motd.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: refactor jsx element merging logic
  cli/install/src/lib/merge.ts
  cli/install/starter/base/src/app/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: update tailwind css dependencies and configuration to v4
  cli/install/starter/options/tailwind/dependencies.yaml
  cli/install/starter/options/tailwind/postcss.config.mjs
  cli/install/starter/options/tailwind/src/styles/globals.css
  cli/install/starter/options/tailwind/tailwind.config.mjs
Due: none

feat: separate ast merging into task dedicated functions
  cli/install/src/lib/merge.ts
  cli/install/src/schemas/patchFiles.ts
Due: prettier --write, eslint --fix, eslint

fix: refactor file merging into different functions and files to reduce main function complexity
  cli/install/src/lib/dependencies.ts
  cli/install/src/lib/fs.ts
  cli/install/src/lib/git.ts
  cli/install/src/lib/merge.ts
  cli/install/src/lib/merge/ast.ts
  cli/install/src/lib/merge/concat.ts
  cli/install/src/lib/merge/index.ts
  cli/install/src/lib/merge/json.ts
  cli/install/src/lib/project.ts
Due: prettier --write, eslint --fix, eslint
