Repository pierregueroult/next-launch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat(ci): remove thing around commits and add check
  .github/workflows/release.yml
Due: none

feat(npm): update package.json to match release version
  package.json
Due: prettier --write

fix(npm): update ci script to look on the npm registry to see the latest version
  .github/workflows/release.yml
Due: none

fix(ci): install packages before publishing to npm registry
  .github/workflows/release.yml
Due: none

feat(ci): add lint and test github action
  .github/workflows/ci.yml
Due: none

fix(cli): fix command exemple when project name is not provided
  bin/install.mjs
Due: none

fix(ci): remove npm cache from node setup
  .github/workflows/ci.yml
Due: none

fix(ci): add --legacy-peer-deps flag to install commands
  .github/workflows/ci.yml
Due: none

fix(ci): remove npm cache from testing command
  .github/workflows/ci.yml
Due: none

fix(install): add lock file to gitignore
  .gitignore
Due: none

fix(ci): install ts-node for jest test script
  package.json
Due: prettier --write

feat(sonar): add sonarqube server code analysis
  .github/workflows/build.yml
  sonar-project.properties
Due: none

fix(npm): remove some sonar script and sonar properties from `npx next-launch`
  bin/install.mjs
Due: none

feat(sonar): add sonarlint configuration and clean up sonarqube files when using npx
  .sonarlint/connectedMode.json
  bin/install.mjs
Due: prettier --write

feat(vscode): add i18n-ally configuration for localization support
  .vscode/settings.json
Due: prettier --write

refactor(auth): simplify error handling and improve redirect logic in login function
  src/actions/auth/login.ts
Due: prettier --write, eslint --fix, eslint

refactor(emails): convert email props and update rendering functions to async
  src/emails/templates/two-factor-email.tsx
  src/emails/templates/verification-email.tsx
Due: none

refactor(utils): simplify admin check by using optional chaining for session user email
  src/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

refactor(props): define readonly type for better type safety
  src/app/layout.tsx
  src/app/page.tsx
Due: none

refactor(auth): update email template rendering to async
  src/actions/auth/login.ts
  src/actions/auth/register.ts
  src/emails/send.ts
Due: prettier --write, eslint --fix, eslint

refactor(ci): replace build with sonarqube dedicated workflow on pr and push
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
Due: none

chore(package): bump version to 1.1.0
  package.json
Due: prettier --write

chore: add initial project files and .gitignore
  .gitignore
  CONTRIBUTING.md
  LICENSE.md
  README.md
Due: none

chore: add node, pnpm dependencies and workspace files
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: add SonarLint configuration and properties for project analysis
  .sonarlint/connectedMode.json
  sonar.properties
Due: prettier --write

chore: add TypeScript configuration file (tsconfig.json)
  tsconfig.json
Due: prettier --write

chore: add ESLint and Prettier configurations with necessary dependencies
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: prettier --write

tools: set up husky hook for commit message and pre commit
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.mjs
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: update package.json to add prepare script for husky
  package.json
Due: prettier --write

tools: add vscode settings and extensions recommendations
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

feat: initialize next.js project with essential files and configurations
  cli/install/starter/base/README.md
  cli/install/starter/base/next-env.d.ts
  cli/install/starter/base/next.config.ts
  cli/install/starter/base/package.json
  cli/install/starter/base/public/file.svg
  cli/install/starter/base/public/globe.svg
  cli/install/starter/base/public/next.svg
  cli/install/starter/base/public/vercel.svg
  cli/install/starter/base/public/window.svg
  cli/install/starter/base/src/app/favicon.ico
  cli/install/starter/base/src/app/globals.css
  cli/install/starter/base/src/app/layout.tsx
  cli/install/starter/base/src/app/page.module.css
  cli/install/starter/base/src/app/page.tsx
  cli/install/starter/base/template.gitignore
  cli/install/starter/base/tsconfig.json
Due: prettier --write, eslint --fix, eslint

tools: update prettier configuration files and improve code formatting
  .prettierignore
  cli/install/starter/base/src/app/layout.tsx
  cli/install/starter/base/src/app/page.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write

tools: update .gitignore and .prettierignore to exclude additional files and directories
  .gitignore
  .prettierignore
Due: none

tools: add .eslintignore and update .gitignore to improve file exclusions
  .eslintignore
  .gitignore
Due: none

feat: set up cli tool with initial command and update workspace configuration
  .vscode/settings.json
  cli/install/package.json
  cli/install/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, eslint

tools: remove .eslintignore and update eslint configuration to ignore dist directory
  .eslintignore
  .gitignore
  eslint.config.mjs
Due: none

fix: add react import to layout and page components
  cli/install/starter/base/src/app/layout.tsx
  cli/install/starter/base/src/app/page.tsx
Due: none

feat: add typescript configuration for cli tool and update main tsconfig
  cli/install/tsconfig.json
  tsconfig.json
Due: prettier --write

feat: update cli tool commands and add build/start scripts
  .vscode/settings.json
  cli/install/package.json
  cli/install/src/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: **/*.{ts, tsx, mjs}) or (any of: **/*.{json, css, md})
  eslint --fix: any of: **/*.{ts, tsx, mjs}
  eslint: any of: **/*.{ts, tsx, mjs}
