Repository pierregueroult/next-launch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "**/*.{ts, tsx, mjs}": ["prettier --write", "eslint --fix", "eslint"],
  "**/*.{json, css, md}": ["prettier --write"]
}

fix(lint): move lint-staged rc to mjs config file
  .lintstagedrc
  lint-staged.config.mjs
Due: none

chore(update): update commitlint package and move config file
  .commitlintrc
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

fix(types): move authentication type declaration to type folder
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

chore(update): move next config file from mjs to ts
  next.config.ts
Due: prettier --write, eslint --fix, eslint

chore(update): update some dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(cache): add new react cache function to getter in services
  src/services/account.ts
  src/services/two-factor-confirmation.ts
  src/services/two-factor-token.ts
  src/services/user.ts
  src/services/verification-token.ts
Due: prettier --write, eslint --fix, eslint

fix(format): edit prettier config so 'server-only' is imported first
  prettier.config.mjs
  src/services/account.ts
  src/services/two-factor-confirmation.ts
  src/services/two-factor-token.ts
  src/services/user.ts
  src/services/verification-token.ts
Due: prettier --write, eslint --fix, eslint

chore(update): run codemod to up tailwindcss to v4
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

fix(jest): remove comments from jest config
  jest.config.ts
Due: prettier --write, eslint --fix, eslint

feat(ts): move from ts-node to handle imports in ts server files
  package.json
  pnpm-lock.yaml
  src/server/main.ts
Due: prettier --write, eslint --fix, eslint

fix(format): update prettier command and run prettier
  package.json
  src/components/languages/languages.tsx
Due: prettier --write

feat(turbo): add nextjs turbopack supports throught an env variable
  .env.sample
  src/server/main.ts
Due: prettier --write, eslint --fix, eslint

refactor(eslint): migrate to new eslint configuration format and update dependencies
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(eslint): remove unused eslint directives in account service and next-auth types
  src/services/account.ts
  src/types/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

docs(readme): add new readme with a lot of emojis
  README.md
Due: none

fix(eslint): update eslint config to fit to eslint rules
  eslint.config.mjs
  tsconfig.json
Due: prettier --write

fix(commands): fix start and dev commands after merge
  package.json
Due: prettier --write

feat(npm): add npm settings for npx clone command
  .npmignore
  bin/create-next-launch
  package.json
Due: prettier --write

fix(npm): update the install script for npx package
  bin/create-next-launch
  bin/install.mjs
  package.json
Due: prettier --write

fix(npm): remove npmignore and update bin path
  .npmignore
  package.json
Due: prettier --write

fix(npm): update install command with npm to legacy-peer-deps
  bin/install.mjs
Due: none

fix(version): update npm version to match publishment
  package.json
Due: prettier --write

fix(npm): update name of the npx binary
  package.json
Due: prettier --write

fix(npm): use npx to generate prisma client in postinstall
  package.json
Due: prettier --write

fix(npm): redo npx to generate prisma client in postinstall
  package.json
Due: prettier --write

fix(npm): remove pnpm lock file from versionning and move prisma from devdeps to deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update next-auth and react-email packages
  package.json
Due: prettier --write

feat(cli): add new cli interface when using npx next-launch
  .gitignore
  bin/install.mjs
  package.json
Due: prettier --write

deploy(npm): update package version after npm release
  package.json
Due: prettier --write

feat(ci): add publication workflow to npm registry with automated version
  .github/workflows/release.yml
Due: none

fix(ci): add workflow dispatch to release action
  .github/workflows/release.yml
Due: none

fix(ci): install semver to compare version
  .github/workflows/release.yml
Due: none

fix(ci): prevent ci to run on branch when workflow_dispatch
  .github/workflows/release.yml
Due: none

fix(ci): update semver comparition of the version
  .github/workflows/release.yml
Due: none

fix(ci): update github action bot permission on the repository
  .github/workflows/release.yml
Due: none

fix(ci): add git pull origin before push in release action
  .github/workflows/release.yml
Due: none

fix(ci): add fetch before pulling before pushing the change in release branch
  .github/workflows/release.yml
Due: none

fix(ci): check for releases branch existence and pulling before anything else
  .github/workflows/release.yml
Due: none

fix(ci): use github pat to push releases commit
  .github/workflows/release.yml
Due: none

fix(ci): allow force push for the release action
  .github/workflows/release.yml
Due: none
